@page "/"

<div class="container">
    <div class="row">
        <div class="col">
            <a href="#">
                Dyr 1
            </a>            
        </div>
        <div class="col">
            <a href="#">
                Dyr 2
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="#">
                Dyr 3
            </a>
        </div>
        <div class="col">
            <a href="#">
                Dyr 4
            </a>
        </div>
    </div>
</div>