@page "/"

<div class="container">
    <span class="question-text">Hvilket dyr starter med bogstavet </span>
    <span class="question-text letter">T</span>
    <span class="question-text">?</span>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <a href="#">
                Dyr 1
            </a>            
        </div>
        <div class="col">
            <a href="#">
                Dyr 2
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="#">
                Dyr 3
            </a>
        </div>
        <div class="col">
            <a href="#">
                Dyr 4
            </a>
        </div>
    </div>
</div>