@page "/"
@page "/raceboard"


<h3>RaceBoard</h3>

@if (gameOver)
{
<div class="d-flex justify-content-center align-items-center">
    <div class="lead">
        The <span style="color: @gameWinner; font-weight: bold">@gameWinner</span> dinosaur wins the game!
    </div>
</div>
}

<div class="container">
    @foreach (var player in Players)
    {
        <div class="row">
            @for (int col = 0; col < numCols; col++)
            {
            <div class="col-sm border" style="background: @player.Color">
                @if (col == player.Position)
                {
                    <img src="./gfx/dino.png" width="80" />
                }
            </div>
            }
        </div>
    }
</div>

<div class="d-flex justify-content-center align-items-center" @onclick="RollTheDice">
    <p style="border: 2px solid gray; border-radius: 10px; height: 100px; width: 100px; margin: 10px">
        <svg height="90" width="90" style="margin: 5px">
            <circle cx="45" cy="45" r="40" stroke="black" stroke-width="2" fill="@dices[0]" />
        </svg>
    </p>
    <p style="border: 2px solid gray; border-radius: 10px; height: 100px; width: 100px; margin: 10px">
        <svg height="90" width="90" style="margin: 5px">
            <circle cx="45" cy="45" r="40" stroke="black" stroke-width="2" fill="@dices[1]" />
        </svg>
    </p>
</div>
      
<div class="d-flex justify-content-center align-items-center">
    <p @onclick="Reset">Reset game</p>
</div>

@code {
    private static int numCols = 10;
    private string[] dices = new string[] {"White", "White"};
    private string gameWinner = string.Empty;
    private bool gameOver = false;
    Random rng = new Random();

    private List<DinoRace.Data.Player> Players = new List<Data.Player>
    {
        new DinoRace.Data.Player { Color = "Red" },
        new DinoRace.Data.Player { Color = "Green" },
        new DinoRace.Data.Player { Color = "Blue" },
        new DinoRace.Data.Player { Color = "Pink" },
        new DinoRace.Data.Player { Color = "Yellow" },
        new DinoRace.Data.Player { Color = "Purple" }
    };

    private void Reset()
    {
        gameOver = false;
        foreach (var player in Players)
            player.Position = 0;
    }

    private void RollTheDice()
    {
        for (int i = 0; i < dices.Length; i++)
        {
            if (gameOver)
            return;

            int roll = rng.Next(0, Players.Count);
            var roundWinner = Players[roll];
            roundWinner.Position += 1;
            dices[i] = roundWinner.Color;
            CheckForGameWinner();
        };
    }

    private void CheckForGameWinner()
    {
        foreach (var player in Players)
        {
            if (player.Position >= numCols - 1)
                EndGame(player.Color);
        }
    }

    private void EndGame(string colorOfWinner)
    {  
        gameWinner = colorOfWinner;
        gameOver = true;
    }
}
